body {
    margin:0px;
}

.head {
    display: flex;
    background-color: #8E386E;
    color: #D2B650;
    margin:0;
    font-family: 'Edu TAS Beginner', cursive;
}

.pages {
    display:flex;
    justify-content: space-between;
    list-style: none;
    gap: 120px;
    font-size: 25px;
}

.logo {
    margin-right:55%;
    width:120px;
    height:120px;
    padding-left:40px;
}

.quote {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #8E386E;
}

.qText {
    position: absolute;
    top:20%;
    left:42%;
    transform: translate(-50%, -50%); 
    color:white;
    font-size: 40px;
    font-family: 'Edu TAS Beginner', cursive;
}

.reviews {
    display: flex;
    padding-top: 20px;
    padding-left:20px;
}

.box {
    display:flex;
    width: 500px;
}

.img {
    width:332px/2px;
    height:250px;
}

.titlText {
    font-family: 'Edu TAS Beginner', cursive;
    font-size:20px;
}

.revText{
    padding-left:20px;
    display:flex;
    flex-direction: column;
    flex-wrap:wrap;
    width:200px;
}

a {
    text-decoration: none;
    color:black;
}

.revLink:hover {
    background-color: #8E386E;
    color:white;
}

.review {
    display: flex;
    gap:200px;
    margin-bottom: 20px;
    border-bottom: 3px solid #8E386E;
}

.revImg {
    padding-right:20px;
    width:332px;
    height:500px;

}

.reviewBox {
    margin-top: 20px;
    display: flex;
    margin-left:250px;
    width:700px;
}

.quotes {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:500px;
    align-self:right;
}

.homeLink {
    color:#D2B650;
}

.homeLink:hover {
    color:white;
}

.others {
    margin-left:20px;
    margin-top:30px;
}

.FAQ {
    display: flex;
    flex-direction: column;
    width:500px;
    margin-top: 20px;
    margin-left:20px;
}

.cat {
    display:flex;
    gap:30px;
}

.book {
    display: flex;
    height:400px;
    margin-top:20px;
    margin-left: 20px;
}

.imgCat {
    width:332px/2px;
    height:250px;
}

.foot {
    display: flex;
    flex-direction: column;
    margin-top: auto;
    background-color: #8E386E;
    height:40px;
    width:100%;
    justify-content: center;
    align-items: center;
    color:#D2B650;
}

.IG {
    width:30px;
    height:30px;
}